<h3>Available Rentals in {{fullLocation}}</h3>
  <ul>
    {{#each sortedRentals as |rental|}}
      {{rental-tile rental=rental}}
      <li>
        {{#link-to 'rental' rental.id}}
          {{rental.owner}}'s {{rental.bedrooms}} Bedroom {{rental.type}}
        {{/link-to}}
      </li>
      {{/each}}
</ul>
<button {{action 'delete' city}}>Delete</button>
